.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureEmoji {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1rem;
  display: inline-block;
}

.features .row {
  margin-top: 2rem;
}

.features h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.features p {
  color: var(--ifm-color-emphasis-700);
  font-size: 1rem;
  line-height: 1.6;
}
